.card{
    width: 300px;
    height: 175px;
   
    border-radius: 5px;
    display: inline-block;
    background-color:#ededed;
    overflow: hidden;
    position: relative;
    margin-bottom: 11px;
    margin-right: 2px;
    margin-left: 11px;
}
.card img{
    
    width:100%;
    height:100%;
    object-fit: contain;
}

.card footer{
    height:40px;
    

}
.card .overlay{
    position:absolute;
    width:100%;
    height:100%;
    background-color:grey;
    opacity:0.9;
    display:none;
}

.card:hover .overlay {
    display:block;
}
